/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
}

/* styles desktop */
body {
  background-color: #0e1014;
  color: #ffffff;
  font-size: 24px;
  font-family: "poppins";
}

.logo-header {
  display: block;
  margin: 75px 0 0 360px;
}

.titulo {
  font-size: 64px;
  font-family: "unbounded";
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}

.destaque-titulo {
  color: #9747ff;
}

.texto {
  font-size: 24px;
  margin: 24px auto 0;
  text-align: center;
  width: 792px;
}

.botao {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #9747ff;
  border-radius: 36px;
  width: 340px;
  height: 66px;
  display: block;
  line-height: 66px;
  margin: 40px auto;
}

.botao:hover {
  background-color: #8233e8;
}

.celular-imagem {
  display: block;
  width: 792px;
  height: 446px;
  margin: 0 auto;
}

/* styles tablet */
@media (max-width: 768px) {
  .logo-header {
    margin: 65px 0 0 60px;
  }

  .texto {
    width: 648px;
  }
}

/* styles mobile */
@media (max-width: 375px) {
  .logo-header {
    margin: 32px 0 0 16px;
  }

  .titulo {
    font-size: 40px;
  }

  .texto {
    font-size: 20px;
    width: 340px;
  }

  .botao {
    font-size: 20px;
    width: 251px;
  }

  .celular-imagem {
    width: 340px;
    height: 230px;
  }
}
